In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

In [3]:
# Continuous variables
cont_cols = ['cont_1','cont_2','cont_3','cont_4','cont_5','cont_6','cont_7','cont_8','cont_9','cont_10','cont_11','cont_12',
            'cont_13','cont_14','cont_15','cont_16','cont_17','cont_18']

# Categorical variables
cat_cols = ['cat_1','cat_2','cat_3','cat_4','cat_5','cat_6','cat_7','cat_8','cat_9','cat_10','cat_11','cat_12','cat_13',
           'cat_14','cat_15','cat_16', 'cat_17','cat_18','cat_19','cat_20', 'cat_21', 'cat_22','cat_23']

In [4]:
train.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2
1,cxcon_4,0,520,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
2,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
3,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
4,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2

In [61]:
cat_cont = train[['cont_6','cont_11']].groupby('cont_11').agg(['mean'])

cat_cont.reset_index(inplace=True)

cat_cont.columns = list(map(''.join, cat_cont.columns.values))

cat_cont.columns = ['cont_11', 'cat_cont']

train = train.merge(cat_cont, on='cont_11')

In [62]:
cat_cont = test[['cont_6','cont_11']].groupby('cont_11').agg(['mean'])

cat_cont.reset_index(inplace=True)

cat_cont.columns = list(map(''.join, cat_cont.columns.values))

cat_cont.columns = ['cont_11', 'cat_cont']

test = test.merge(cat_cont, on='cont_11')

In [63]:
test.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_19,cat_20,cat_21,cat_22,cat_23,cat_cont_x,cat_cont_y,cat_cont_x,cat_cont_y,cat_cont
0,cxcon_2,0,331,6085,0.0,0.0,0.0,0.0,1.0,0.0,...,0,13,13,255,255,11545,47,1.0,0.000447,0.015297
1,cxcon_8192,0,331,2072,0.0,0.0,0.0,0.0,1.0,0.0,...,0,12,12,255,255,11545,47,1.0,0.000447,0.015297
2,cxcon_20807,0,331,2978,0.0,0.0,0.0,0.0,1.0,0.0,...,0,14,21,21,255,11545,47,1.0,0.000447,0.015297
3,cxcon_21644,0,331,392,0.0,0.0,0.0,0.0,1.0,0.0,...,0,7,7,255,255,11545,47,1.0,0.000447,0.015297
4,cxcon_26588,0,331,1672,0.0,0.0,0.0,0.0,1.0,0.0,...,0,13,37,255,255,11545,47,1.0,0.000447,0.015297

In [64]:
train.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_20,cat_21,cat_22,cat_23,target,cat_cont_x,cat_cont_y,cat_cont_x,cat_cont_y,cat_cont
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,2,96680,77605,2.999923,0.00041,0.014538
1,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,0,96680,77605,2.999923,0.00041,0.014538
2,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,0,96680,77605,2.999923,0.00041,0.014538
3,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,2,96680,77605,2.999923,0.00041,0.014538
4,cxcon_16,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,0,96680,77605,2.999923,0.00041,0.014538

In [65]:
train.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_20,cat_21,cat_22,cat_23,target,cat_cont_x,cat_cont_y,cat_cont_x,cat_cont_y,cat_cont
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,2,96680,77605,2.999923,0.00041,0.014538
1,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,0,96680,77605,2.999923,0.00041,0.014538
2,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,0,96680,77605,2.999923,0.00041,0.014538
3,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,2,96680,77605,2.999923,0.00041,0.014538
4,cxcon_16,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,511,511,255,255,0,96680,77605,2.999923,0.00041,0.014538

In [66]:
print "Number of categorical features:", len(cat_cols)
print 'Number of continuous features:', len(cont_cols)

Number of categorical features: 23
Number of continuous features: 18

In [79]:
X = np.array(train.drop(['connection_id','cat_17','cont_1','target'], axis = 1))
y = train.target

In [80]:
X_test = np.array(test.drop(['connection_id','cont_1','cat_17'], axis = 1))

In [81]:
import lightgbm as lgb
import xgboost as xgb
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score

In [82]:
def multAcc(pred, dtrain):
    label = dtrain.get_label()
    acc = accuracy_score(label, pred)
    return 'maccuracy', acc

In [83]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.15, random_state = 47)

In [84]:
dtrain = xgb.DMatrix(data=X_train, label=y_train)
dvalid = xgb.DMatrix(data=X_valid, label=y_valid)
dtest = xgb.DMatrix(X_test)

In [85]:
watchlist = [(dtrain, 'train'),(dvalid, 'valid')]

In [86]:
params = {}
params['objective'] = 'multi:softmax'
params['eta'] = 0.01
params['max_depth'] = 15
params['silent'] = 0
params['max_bin'] = 256
params['max_leaf_nodes'] = 2**12
params['num_class'] = 3
params['colsample_bytree'] = 0.9

In [ ]:
xgb.cv(params=params, dtrain=dtrain, num_boost_round=300, nfold=5, feval=multAcc, seed=0, callbacks=[xgb.callback.print_evaluation(show_stdv=)])

In [87]:
model = xgb.train(params, dtrain, 300, watchlist, maximize=True, verbose_eval=10, early_stopping_rounds=50, feval=multAcc)

[0]	train-maccuracy:0.782413	valid-maccuracy:0.782297
Multiple eval metrics have been passed: 'valid-maccuracy' will be used for early stopping.

Will train until valid-maccuracy hasn't improved in 50 rounds.
[10]	train-maccuracy:0.782663	valid-maccuracy:0.782494
[20]	train-maccuracy:0.782774	valid-maccuracy:0.782651
[30]	train-maccuracy:0.782809	valid-maccuracy:0.782651
[40]	train-maccuracy:0.782836	valid-maccuracy:0.782691
[50]	train-maccuracy:0.782816	valid-maccuracy:0.782651
Stopping. Best iteration:
[3]	train-maccuracy:0.782642	valid-maccuracy:0.78277

In [88]:
pred = model.predict(dtest)

In [89]:
subm = pd.DataFrame()

In [90]:
subm['connection_id'] = test.connection_id
subm['target'] = pred.astype('int')
subm.to_csv('submit.csv',index=False)

In [24]:
#  [4]	train-maccuracy:0.782407	valid-maccuracy:0.781643, eta = 0.01, max_depth = 15, max_leaf_nodes = 2**12
#  [8]	train-maccuracy:0.782446	valid-maccuracy:0.781702

In [25]:
# [76]	train-maccuracy:0.78286	valid-maccuracy:0.783533 , cont_2, cat_1